<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% for (let i = 0; i < videos.length; i++) { %>
	  <h1> <%= videos[i].comedian %> </h1>
	  <p> <%= videos[i].title %> </p>

	<% } %>

</body>
</html>
